/test-output/html/*
/test-output/xml/*
.settings
.classpath
.project
/target
/bin
/.idea
src/config/config.properties
.DS_Store
.log
.vscode
src/main/results/screenshots
src/main/results/recordings/*
src/main/resources/*_keyº
src/main/resources/*_key.pub
/allure-results
src/main/resources/Downloads/*
/deh.iml
/.factorypath
